<section class="preguntas container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Preguntas frecuentes</span></h2>
  <p class="preguntas_parrafo">¿Tienes preguntas?, aquí te las resolvemos.</p>

  <section class="preguntas_container">
      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Cuál es el precio de los servicios técnicos?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Cada uno de nuestros servicios consta de un proceso especial de reparación. Para una asesoria personalizada, comunicate al celular 320 3072526.</p>
          </div>
      </article>

      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Cuáles son los horarios de atención?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Nuestros servicios están disponibles de Lunes a Viernes de 8:00 de la mañana a 6:30 de la tarde y Sábados de 8:00 de la mañana a 6:00 de la tarde.</p>
          </div>
      </article>

      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Realizan entregas a domicilio?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Por el momento no realizamos entregas a domicilio. Permanece atento a nuestros canales oficiales para conocer novedades en nuestros productos y servicios.</p>
          </div>
      </article>

  </section>

  <section class="dudas">
      <h2 class="subtitle"><span class="subtitle_cuadro">¿Aún tienes dudas?</span></h2>
      <!-- <p class="dudas_parrafo">Escribenos y </p> -->
      <a routerLink="/contact" class="boton" id="1">Contáctanos</a>
  </section>

</section>

  