<app-hero-text [title]="'QUIENES SOMOS'"></app-hero-text>
<section class="about_us container">
  <div class="ab_presentation">
      <img src=".\assets\images\Mainlogo.jpg" class="video_pres"  alt="Logo surtiaccesorios">
  </div>

  <div class="about_text">

      <article class="about_container">
          <h2 class="subtitle"><span class="subtitle_cuadro">Misión</span></h2>
          <p class="about_parrafo">Ofrecer a los habitantes de Pamplona y sus alrededores una experiencia tecnológica excepcional mediante la venta de equipos móviles de última generación y servicios técnicos de alta calidad con una variedad de artículos tecnológicos, siendo la empresa local más destacada por la atención  personalizada, compromiso con la excelencia y pasión por la innovación, con el objetivo de mejorar la vida de nuestra comunidad.
          </p>
      </article>

      <article class="about_container">
        <h2 class="subtitle"><span class="subtitle_cuadro">Visión</span></h2>
        <p class="about_parrafo">Para el año 2028, SurtiAccesorios se consolidará como la empresa líder en la comercialización de accesorios de telefonía móvil y artículos tecnológicos, generando desarrollo sostenible en nuestro entorno desde la experiencia y total satisfacción de nuestros clientes, lo que impulsará nuestro crecimiento en el mercado y el bienestar de la comunidad.
        </p>
      </article>

  </div>

  <div>
    <article class="about_container">
      <h2 class="subtitle"><span class="subtitle_cuadro">Nuestra políticas</span></h2>
      <p class="about_parrafo">En nuestra empresa mantenemos un firme compromiso con la excelencia y la integridad en cada aspecto de nuestras operaciones. Promovemos el uso del uniforme como símbolo de profesionalismo y pertenencia. La seguridad y salud ocupacional son prioridades, asegurando un ambiente de trabajo seguro y saludable para todos nuestros empleados. En recursos humanos, valoramos a nuestro equipo y fomentamos su desarrollo continuo. La conducta y ética son fundamentales, guiando nuestras acciones con integridad y responsabilidad, así como también implementamos estrictos controles y mejoras continuas para asegurar que nuestros productos y servicios cumplan con los más altos estándares.
      </p>
    </article>

    <article class="about_container">
      <h2 class="subtitle"><span class="subtitle_cuadro">Nuestros valores</span></h2>
      <p class="about_parrafo">Practicamos un conjunto de valores fundamentales que definen cada aspecto de nuestra operación y relaciones. La honestidad es el pilar de nuestras interacciones, asegurando transparencia y verdad en todas nuestras comunicaciones y transacciones. Nos manejamos con seriedad, abordando cada tarea y compromiso con el más alto nivel de profesionalismo. Fomentamos un ambiente de confianza, donde tanto nuestros clientes como empleados pueden contar con nuestra fiabilidad y apoyo constante. El respeto es esencial en todas nuestras interacciones, valorando y considerando las opiniones y necesidades de nuestros clientes y colaboradores. Nuestra dedicación a la calidad asegura que todos nuestros productos y servicios cumplen con los más altos estándares, proporcionando soluciones efectivas y duraderas.
      </p>
    </article>

    <article class="about_container">
      <h2 class="subtitle"><span class="subtitle_cuadro">Nuestros colores representativos</span></h2>
      <p class="about_parrafo">Para nosotros, los colores que nos representan tienen un significado especial:
      </p><br>
      <p class="about_parrafo"><strong class="subtitle_cuadro">Azul </strong>  Simboliza la confianza y la seguridad. Este color refleja nuestra seriedad y compromiso en ofrecer productos y servicios fiables, inspirando confianza en nuestros clientes.</p>
      <br>
      <p class="about_parrafo"><strong class="subtitle_cuadro">Blanco </strong>  Representa la pureza, la transparencia y la honestidad. El blanco simboliza nuestra dedicación a la claridad en nuestras comunicaciones y operaciones, asegurando que nuestros clientes siempre reciban información precisa y honesta.</p>
      <br>
      <p class="about_parrafo"><strong class="subtitle_cuadro">Café </strong>  Evoca calidez, estabilidad y confiabilidad. El color café refleja nuestro enfoque en brindar un trato cercano y amigable, creando un ambiente acogedor y estable para nuestros clientes y empleados.</p>
    </article>
  </div>

</section>
