<app-hero-text [title]="'CONTÁCTANOS'" id="1"></app-hero-text>
<section class="contact_info container">
  <div class="social_info">
    <h3 class="subtitle_soc"><img src=".\assets\images\bx-map.svg"><span class="subtitle_con">Ubícanos</span></h3>
    <p><strong>Local principal</strong></p>
    <br>
    <p>Estamos ubicados frente a la casa de mercado</p>
    <br>
    <p>Cra. 5 #6-51, ​Pamplona, Norte de ​Santander</p>
    <br>
    <p><strong>Sucursal</strong></p>
    <br>
    <p>Cra. 5A #O3, ​Pasaje la Curia</p>
    <h3 class="subtitle_soc"><img src=".\assets\images\bx-time-five.svg"><span class="subtitle_con">Horarios de
        atención</span></h3>
    <div class="horarios">
      <div class="dias">
        <p><strong>Lunes - Viernes</strong></p>
        <p><strong>Sabado</strong></p>
      </div>
      <div class="horas">
        <p class="contact_hor">8:00 AM - 6:30 PM</p>
        <p class="contact_hor">8:00 AM - 6:00 PM</p>
      </div>
    </div>
    <h3 class="subtitle_soc"><img src=".\assets\images\bx-book-content.svg"><span class="subtitle_con">Nuestras Redes
        Sociales</span></h3>
    <h4><a href="https://www.facebook.com/profile.php?id=100076170488841&locale=es_LA" target="_blank" class="social_media"><img
          src=".\assets\images\facebook.svg" alt="favicon" class="social_img">Surti-accesorios</a></h4>
    <h4><a href="https://www.instagram.com/surtiaccesoriespamplona/" target="_blank" class="social_media"><img
          src=".\assets\images\instagram.svg" alt="favicon" class="social_img">surtiaccesoriospamplona</a></h4>
    <h4><a href="https://www.tiktok.com/@surti.accesories?_t=8matNgbEnkz&_r=1" target="_blank" class="social_media"><img
          src=".\assets\images\tik-tok.svg" alt="favicon" class="social_img">surti.accesories</a></h4>

  </div>
  <div class="map_info">
    <iframe class="map_contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.30033402059573!2d-72.64922999092681!3d7.375701305417137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e68811772cf5a79%3A0x5a528718be23ffe6!2sSurti%20Accesorios%20Technolog%C3%ADa%20Y%20Mucho%20M%C3%A1s!5e0!3m2!1ses!2sco!4v1720148679040!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<section class="inquietudes container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Cuentanos tu inquietud</span></h2>
  <div class="inq">
    <div class="img_con">
      <img class="img_qr" src=".\assets\images\whatsappqr.png" alt="qr">
    </div>
    <h4><a href="https://w.app/Surtiaccesorios" target="_blank" class="social_media"><img src=".\assets\images\whatsapp.svg" alt="favicon" class="social_img">
      320 3072526</a></h4>
  </div>

