<section class="team">
  <h2 class="team_subtitle">Hecha un vistazo a nuestros <span class="subtitle_cuadro">productos</span></h2>
  <div class="team_container container">
      <img src=".\assets\images\leftarrow.svg" class="team_flecha" id="before">

      <section class="team_contenido team_contenido--show" data-id="1">
          <div class="team_text">
              <h2 class="subtitle_slider">Control PS3 - <span class="subtitle_cuadro">Control Gamer</span></h2>
              <p class="team_presentacion"> Control dualshock 3 para consola PlayStation 3</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\dualshock3.jpeg" class="team_img">
          </figure>

      </section>

      <section class="team_contenido" data-id="2">
          <div class="team_text">
              <h2 class="subtitle_slider">Reloj Inteligente - <span class="subtitle_cuadro">Smartwatch</span></h2>
              <p class="team_presentacion">Reloj inteligente con correas intercambiables y cable cargador incluido</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\smartwatch1.jpeg" class="team_img">
          </figure>

      </section>

      <section class="team_contenido" data-id="3">
          <div class="team_text">
              <h2 class="subtitle_slider">Audífonos inalámbricos - <span class="subtitle_cuadro">Bluetooth</span></h2>
              <p class="team_presentacion">Audífonos inalámbricos Sony con tecnología Hi-Res de alta calidad de audio</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\audio1.jpeg" class="team_img">
          </figure>

      </section>

      <section class="team_contenido" data-id="4">
        <div class="team_text">
            <h2 class="subtitle_slider">Cables USB - <span class="subtitle_cuadro">Carga rápida</span></h2>
            <p class="team_presentacion">Cables USB de carga rápida y transferencia de archivos de diferentes tamaños</p>
        </div>

        <figure class="team_picture">
            <img src=".\assets\images\cable1.jpeg" class="team_img">
        </figure>

        </section>

        <section class="team_contenido" data-id="5">
        <div class="team_text">
            <h2 class="subtitle_slider">Altavoz inalámbrico - <span class="subtitle_cuadro">Bluetooth</span></h2>
            <p class="team_presentacion">Altavoz inalámbrico de gran potencia, calidad de audio y conexión Bluetooth</p>
        </div>

        <figure class="team_picture">
            <img src=".\assets\images\speaker1.jpeg" class="team_img">
        </figure>

        </section>

      <img src=".\assets\images\rightarrow.svg" class="team_flecha" id="next">
  </div>
  <section class="butt">
    <a routerLink="/blog" class="boton1">Ver más</a>
  </section>
</section>
