<section class="cards container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Nuestros productos y servicios</span></h2>
  <p class="services_parrafo">Todo lo que necesitas, aquí lo encuentras</p>
  <div class="cards_main">
      <div class="card">
          <figure>
              <img src=".\assets\images\lg1.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Accesorios para celulares</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p> Fundas </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Vidrios templados</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Cargadores</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Audífonos</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Relojes inteligentes</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\lg2.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Accesorios para computadores</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Teclados</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p> Mouse </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Memorias USB</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Parlantes</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Controles gamer</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\lg3.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Dispositivos y accesorios varios</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p> Altavoces Bluetooth </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Relojes análogos</p>
                  </li>
                  <li class="card_item">
                    <img src=".\assets\images\logo.png" class="item_icon">
                    <p>Aros de luz</p>
                  </li>
                  <li class="card_item">
                    <img src=".\assets\images\logo.png" class="item_icon">
                    <p>Gorras</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\lg4.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Servicio técnico de dispositivos</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p> Diagnóstico de fallas en dispositivos </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\logo.png" class="item_icon">
                      <p>Mantenimiento y reparación de celulares</p>
                  </li>
                  <li class="card_item">
                    <img src=".\assets\images\logo.png" class="item_icon">
                    <p>Cambio de pantallas</p>
                  </li>

              </ul>
          </div>
      </div>
  </div>
</section>
