<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<app-hero-text [title]="'NUESTROS PRODUCTOS'"></app-hero-text>
<section class="blog container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Productos</span></h2>
  <div class="articulo_container">

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\player.jpeg" alt="blog img">
              <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Audio</strong>
              <a href="https://w.app/Surtiaccesorios" target="_blank">Audífonos inalámbricos Bluetooth PUBG</a>
              <p>Audífonos inalámbricos de gran calidad de sonido, extensa duración de bateria y diferentes modos de audio.</p>
          </div>
      </div>

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\altavozpc.jpeg" alt="blog img">
              <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Audio</strong>
              <a href="https://w.app/Surtiaccesorios" target="_blank">Altavoz USB </a>
              <p>Altavoz de conexión USB de gran potencia, excelentes materiales de contrucción y opciones de ecualización de audio personalizables.</p>
          </div>
      </div>

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\audiobt.jpeg" alt="blog img">
              <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Audio</strong>
              <a href="https://w.app/Surtiaccesorios" target="_blank">Audífonos inalámbricos Bluetooth</a>
              <p>Audífonos inalámbricos con capacidad de conexión cableada, de gran capacidad de batería y diferentes colores disponibles.</p>
          </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\controltv.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Controles TV</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Controles remotos TV</a>
            <p>Controles remotos de TV universales y de la principales marcas disponibles.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\altavozbt.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Audio</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Parlante inalámbrico Bluetooth</a>
            <p>Parlante inalámbrico marca Fly de tamaño pequeño, adecuado para llevarlo a donde quieras.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\altavozbt2.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Audio</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Parlante inalámbrico Bluetooth</a>
            <p>Parlante inalámbrico marca Fly con modos de radio FM y capacidad de tarjeta SD para que escuches tu música favorita donde quieras.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\relojdigi.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Relojes</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Reloj digital</a>
            <p>Reloj digital marca Xinjia con modo cronómetro y luz integrada en pantalla para una mejor visualización en cualquier condición de luz.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\casesref.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Forros celulares</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Forros para celulares</a>
            <p>Forros para celulares de diferentes referencias y excelentes materiales para que mantengas seguro tu teléfono movil.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\mouse.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Mouse PC</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Mouse inalámbrico para PC</a>
            <p>Mouse inalámbrico para PC de gran calidad y diseño ergonómico para que estés cómodo en el uso diario.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\licuaport.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Licuadora</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Licuadora portatil</a>
            <p>Licuadora portatil con capacidad de 420ml, ideal para preparar tus bebidas favoritas donde tu queiras.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\smartwatch1.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Smartwatch</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Reloj inteligente</a>
            <p>Reloj inteligente con correas intercambiables y cable cargador incluido.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\dualshock3.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Control gamer</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Control PS3</a>
            <p>Control dualshock 3 inalámbrico para consola PlayStation 3.</p>
        </div>
      </div>

      <div class="blog_card">
        <div class="blog_img">
            <img class="img_blog" src=".\assets\images\cable1.jpeg" alt="blog img">
            <a href="https://w.app/Surtiaccesorios" target="_blank" class="blog_img_link">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="blog_text">
            <strong>Cables USB</strong>
            <a href="https://w.app/Surtiaccesorios" target="_blank">Cables USB</a>
            <p>Cables USB de carga rápida y transferencia de archivos de diferentes tamaños y puertos.</p>
        </div>
      </div>
  </div>
</section>
<section class="preguntas container">
    <section class="dudas">
        <h2 class="subtitle"><span class="subtitle_cuadro">¿No encuentras un producto?</span></h2>
        <p class="preguntas_parrafo">¡Escríbenos y te ayudamos!</p>
        <br>
        <br>
        <a href="https://w.app/Surtiaccesorios" target="_blank" class="boton">Contáctanos</a>
    </section>
</section>

